/*=======  Page Title  =======*/
.page-title-area {
    background: #a9c7ec;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 100px;

    @include respond-below(sm) {
        padding-top: 180px;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .title {
        font-size: 45px;
        margin-bottom: 10px;
        color: $white;

        @include respond-below(lg) {
            font-size: 30px;
        }

        @include respond-below(sm) {
            font-size: 24px;
        }
    }

    .breadcrumb-nav {
        display: flex;
        justify-content: center;

        li {
            font-size: 16px;
            font-weight: 700;
            position: relative;
            line-height: 1;

            @include respond-below(sm) {
                font-size: 16px;
            }

            &:not(:last-child) {
                &::after {
                    content: "|";
                    margin: 0 8px;
                }
            }

            &,
            a {
                color:  #c2d1e2;
            }
        }
    }
}
