


/*===========================
    15.PROGRESS BAR css 
===========================*/


.Progress-bar-area{
	.Progress-bar-content{
		i{
			color: $theme-color;
			font-size: 70px;
		}
		.title{
			font-size: 55px;
			line-height: 65px;
			margin-top: 20px;
		}

	}
}
