

/*===========================
    QUOTE css 
===========================*/

.quote-area{
	background-attachment: fixed;
	& .quote-overlay{
		background-color: rgba(0, 18, 34,.8);
		padding-top: 105px;
		padding-bottom: 120px;
		& .section-title-2{
			& .title{
				color: $white;
			}
			& p{
				color: $white;
			}
		}
		& .quote-form{
			& .input-box{
				position: relative;
				& input{
					width: 100%;
					background-color: transparent;
					border: 2px solid rgba(255, 255, 255,.2);
					padding-left: 40px;
					line-height: 80px;
					color: #c1d0de;
					&::placeholder{
						opacity: 1;
						color: #c1d0de;
					}
				}
				& textarea{
					width: 100%;
					height: 200px;
					background-color: transparent;
					border: 2px solid rgba(255, 255, 255,.2);
					padding-top: 30px;
					padding-left: 40px;
					color: #c1d0de;
					resize: none;
					&::placeholder{
						opacity: 1;
						color: #c1d0de;
					}
				}
				& button{
					margin-top: 38px;
					border-radius: 0;
				}
				& i{
					position: absolute;
					top: 35px;
					right: 40px;

				}
			}
		}
	}
}

.quote-page{
	& .input-box{
		position: relative;
		&.file{
			position: relative;
			label{
				position: absolute;
				width: 100%;
				top: 0px;
				color: #757575;
				left: 0px;
				padding-left: 30px;
				cursor: pointer;
				top: 50%;
			}
		}
		& input{
			width: 100%;
			// background-color: #f5f7ff;
			border: 2px solid rgba(0, 0, 0, 0.07);
			padding-left: 40px;
			height: 60px;
			padding-right: 26px;
			line-height: 20px;
			
		}

		& textarea{
			width: 100%;
			height: 200px;
			// background-color: #f5f7ff;
			border: 2px solid rgba(0, 0, 0, 0.07);
			padding-top: 30px;
			padding-left: 30px;
			padding-right: 30px;
			resize: none;
		}
	}
}